@import "./vars.less";

@act-menu-item-active-bg: linear-gradient(180deg, rgba(0, 157, 255, 0), #005dff);

@menu-prefix-cls: ~'@{ant-prefix}-menu';
.@{menu-prefix-cls} {
  &&-dark &-item-selected,
  &-submenu-popup&-dark &-item-selected {
    background: @act-menu-item-active-bg;
  }
}